modules = ["bash"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run TMX Banner"

[[workflows.workflow]]
name = "Run TMX Banner"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash tmx-ban.sh"

[workflows.workflow.metadata]
outputType = "console"
